.navbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leadster-logo {
    margin: 20px;
    width: 300px;
    height: 25px;
    object-fit: contain;
}